/* App.css */

/* *{
  padding: 0;
  margin: 0;
} */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


.App {
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.App-background {

  overflow: hidden;
}

.App-backgroundimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
